/**
 * =======================================================
 *
 * Global functions
 *
 * =======================================================
 */

 /**
 * Get the dimension for a given screen size according 
 * to the grid. As the margins are the same as the gutter,
 * it will assume that in the calculation.
 * ---
 * Usage example:
 *
 * section {
 * width: s-layout-size(2); }
 *
 * section {
 * width: s-layout-size(2, "medium"); }
 *
 * @param {number} $column-span — The number of columns to span.
 * @param {sting} $size         — The screen size set of dimensions to refer to.
 */
 
@function s-layout-width($column-span: 1, $size: "small") {

    @if not map-has-key($s-layout-columns, $size) {
      @error "Invalid size '#{size}', choose: #{map-keys($s-layout-columns)}";
    }

    $column-count: map-get($s-layout-columns, $size);   
    
    @if $column-span > $column-count {
      @error "The maximum columns for '#{$size}' layout is #{$column-count}. #{$column-span} was specified.";  
    }

    $gutter-count: $column-count / $column-span - 1;
    $gutter-size: map-get($s-layout-gutter, $size);
    $column-coefficient: $column-span / $column-count;

    @return calc((100% - (#{$gutter-count} * #{$gutter-size})) * #{$column-coefficient});

}


/**
 * Get the margin size for a given screen size. Defaults
  to 'small'.
 * ---
 * Usage example:
 *
 * section {
 * padding: 0 s-layout-margin("medium"); }
 *
 * @param {string} $size — The screen size set of dimensions to refer to.
 */
@function s-layout-margin($size: "small") {

  @if not map-has-key($s-layout-margin, $size) {
    @error "Invalid size '#{size}', choose: #{map-keys($s-layout-margin)}";
  }

  @return map-get($s-layout-margin, $size);

}