/**
 * =======================================================
 *
 * Global mixins
 *
 * =======================================================
 */

/**
 * Include a breakpoints as a mixin.
 * ---
 * Usage example:
 *
 * section {
 *   width: 100%;
 *
 *   @include mq("medium") {
 *     width: 50%;
 *   } 
 * }
 *
 * @param {string} $from — The min-width screen size to refer to.
 */

@mixin mq($from: false) {

  // Default variable set to test for the application
  // of a valid query.
  $media-query: false;

  @if $from and map-has-key($s-breakpoints, $from) {

    $media-query: "(min-width: #{map-get($s-breakpoints, $from)})";

  }

  @if $media-query {

    @media #{$media-query} {
      @content;
    }

  } @else {

    @content;

  }

}