/**
 * =======================================================
 *
 * Normalise
 *
 * =======================================================
 */

body {
  color: $s-typography-color;
  font-family: $s-typography-family;
  font-size: $s-typography-size;
  line-height: $s-typography-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $s-typography-size;
  font-weight: 400;
  margin: $s-stack*2 0;
}

p {
  margin: $s-stack*2 0;
}

ol,
ul {
  margin: $s-stack*2 0;
}

/**
 * 1. Remove gray background on active links in IE10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  color: inherit;
  -webkit-text-decoration-skip: objects; /* 2 */ 
  
  &:hover {
    text-decoration: none;
  }

}

strong {
  font-weight: 700;
}

::-moz-selection {
  background-color: $s-color-secondary-50; 
}

::selection {
  background-color: $s-color-secondary-50; 
}

address {
  font-style: normal;
}