/**
 * =======================================================
 *
 * Global variables
 *
 * =======================================================
 */

/**
 * -------------------------------------------------------
 * Branding colour palaette
 * -------------------------------------------------------
 */

$s-color-primary: #EF5350;
$s-color-on-primary: #FFF;

$s-color-primary-900: #C93331;
$s-color-primary-800: #D73E3D;
$s-color-primary-700: #E54444;
$s-color-primary-600: #F84E4B;
$s-color-primary-500: #FF554B;
$s-color-primary-300: #F18184;
$s-color-primary-200: #F7A4A7;
$s-color-primary-100: #FFD3D9;
$s-color-primary-50:  #FFEEF1;

$s-color-secondary: #4B4F65;
$s-color-on-secondary: #FFF;

$s-color-secondary-900: #373A4D;
$s-color-secondary-800: #4B4F65;
$s-color-secondary-700: #4B4F65;
$s-color-secondary-600: #6F7693;
$s-color-secondary-500: #7E85A5;
$s-color-secondary-300: #A5AAC5;
$s-color-secondary-200: #BEC3D9;
$s-color-secondary-100: #D6DBED;
$s-color-secondary-50:  #F0EFFD;

$s-color-panel: #FFF;
$s-color-panel-accent-1: #F5F5F5;
$s-color-panel-accent-2: #FAFAFA;

$s-color-variant-primary: #EE7768;
$s-color-variant-secondary: #409297;
$s-color-variant-secondary-accent-1: #273053;
$s-color-variant-ink-1: #273053;
$s-color-variant-ink-2: #757575;
$s-color-variant-ink-3: #816867;


/**
 * -------------------------------------------------------
 * Spacing and site properties
 * -------------------------------------------------------
 */

$s-space: 10px;
$s-stack: $s-space;
$s-gutter: $s-space;
$s-radius: 4px;
$s-max-width: 960px;


/**
 * -------------------------------------------------------
 * Base typography
 * -------------------------------------------------------
 */

$s-typography-color: $s-color-secondary;
$s-typography-family: 'Inter-UI', Helvetica, Arial, sans-serif;
$s-typography-size: 16px;
$s-typography-line-height: 1.5;


/**
 * -------------------------------------------------------
 * Transition and animation styles
 * -------------------------------------------------------
 */

$s-transition-duration: .2s;


/**
 * -------------------------------------------------------
 * Shortcuts to character codes for CSS content values
 * -------------------------------------------------------
 */

$char-nbsp: '\00a0';
$char-open-quote: '\201c';
$char-close-quote: '\201d';


/**
 * -------------------------------------------------------
 * Media query breakpoints
 * -------------------------------------------------------
 */

$s-breakpoint-large: 1400px;
$s-breakpoint-medium: 635px;
$s-breakpoint-small: 411px;

$s-breakpoints: (
  small: 0,
  medium: 635px,
  large: 1400px
);


/**
 * -------------------------------------------------------
 * Layout variables can be used directly or used by
 * functions to calculate values for properties
 * that need to align to a grid size.
 * -------------------------------------------------------
 */

$s-layout-gutter: (
  small: 16px,
  medium: 16px,
  large: 24px
);

$s-layout-margin: (
  small: 16px,
  medium: 16px,
  large: 24px
);

/**
 * The number of columns visible in each
 * breakpoint.
 */
$s-layout-columns: (
  small: 4,
  medium: 8,
  large: 12
);


/**
 * -------------------------------------------------------
 * Percentage size shortcuts
 * -------------------------------------------------------
 */

$s-one-third: 33.33333333333333%;
$s-two-thirds: 66.66666666666666%;
$s-one-fifth: 20%;


/**
 * -------------------------------------------------------
 * Adapters - CSS to resolve compatibility with other
 * CSS and packages.
 * -------------------------------------------------------
 */

 /**
  * By default this is true and assumes that the 
  * Vue Material components are present so that they
  * can be customised to the Settled theme.
  * Setting this to false when Vue Material is not present
  * (for example on static sites) will import an adapter 
  * that will polyfill the Vue Material CSS.
  */
$s-adapter-vue-material: true !default;

$s-adapter-drupal: false !default;