/**
 * =======================================================
 *
 * Fonts - Typography
 *
 * =======================================================
 */

 @font-face {
    font-family: 'Inter-UI';
    src: url('../fonts/Inter-UI/Inter-UI-Regular.woff2') format('woff2'),
         url('../fonts/Inter-UI/Inter-UI-Regular.woff') format('woff'),
         url('../fonts/Inter-UI/Inter-UI-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-UI';
    src: url('../fonts/Inter-UI/Inter-UI-Medium.woff2') format('woff2'),
         url('../fonts/Inter-UI/Inter-UI-Medium.woff') format('woff'),
         url('../fonts/Inter-UI/Inter-UI-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-UI';
    src: url('../fonts/Inter-UI/Inter-UI-Bold.woff2') format('woff2'),
         url('../fonts/Inter-UI/Inter-UI-Bold.woff') format('woff'),
         url('../fonts/Inter-UI/Inter-UI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}