/**
 * =======================================================
 *
 * Typography - Functions
 *
 * =======================================================
 */

/**
 * Get the line height for a heading level that maps to the
 * standard HTML H1 - H6
 * ---
 * Usage example:
 *
 * p {
 * font-family: s-typography-line-height(1); }
 *
 * p {
 * font-family: s-typography-line-height(1); }
 *
 * @param {number} $level     — The heading level.
 * @param {string} [$variant] — The variant name.
 */
@function s-typography-line-height($level, $variant: '') {

  @if $variant == 'variant' and variable-exists('s-typography-variant-1-heading-size') {

    @return map-get($s-typography-variant-1-heading-size, $level) + 5px;

  } @else {

    @if $variant != '' {

      @warn 'Variable name $s-typography-variant-1-heading-size with key `#{$variant}` not found.';

    }

    @return map-get($s-typography-heading-size, $level) + 5px;

  }

}


/**
 * Get the font size for a heading level that maps to the
 * standard HTML H1 - H6
 * ---
 * Usage example:
 *
 * p {
 * font-size: s-typography-heading-size(1); }
 *
 * p {
 * font-size: s-typography-heading-size(1, 'variant'); }
 *
 * @param {number} $level     — The heading level.
 * @param {string} [$variant] — The variant name.
 */
@function s-typography-heading-size($level, $variant: '') {

  @if $variant == 'variant' and variable-exists('s-typography-variant-1-heading-size') {

    @return map-get($s-typography-variant-1-heading-size, $level);

  } @else {

    @if $variant != '' {

      @warn 'Variable name $s-typography-variant-1-heading-size with key `#{$variant}` not found.';

    }

    @return map-get($s-typography-heading-size, $level);

  }

}