/**
 * =======================================================
 *
 * Typography - Default
 *
 * =======================================================
 */


/**
 * Standard typography, mobile first but currently these
 * sizes are appropriate accross all devices.
 */
 
.s-typography {

    &-heading-1 {
      font-size: s-typography-heading-size(1);
      font-weight: 700;
      line-height: s-typography-line-height(1);
      margin: $s-stack*8 0 $s-stack*4;
    }

    &-heading-2 {
      font-size: s-typography-heading-size(2);
      font-weight: 700;
      line-height: s-typography-line-height(2);
      margin: $s-stack*4 0;
    }

    &-heading-3 {
      font-size: s-typography-heading-size(3);
      font-weight: 700;
      line-height: s-typography-line-height(3);
      margin: $s-stack*2 0;
    }

    &-heading-4 {
      font-size: s-typography-heading-size(4);
      font-weight: 700;
      line-height: s-typography-line-height(4);
      margin: $s-stack*2 0;
    }

    &-heading-5 {
      font-weight: 700;
      margin: $s-stack*2 0;
    }

}
