/**
 * =======================================================
 *
 * Typography - Variant 1 - Variables
 *
 * =======================================================
 */

$s-typography-variant-1-family: 'PlayfairDisplay', sans-serif;

$s-typography-variant-1-body-family: 'PT Sans', Helvetica, Arial, sans-serif;

$s-typography-variant-1-heading-size: (
  1: 74px,
  2: 55px,
  3: 37px
);

$-typography-variant-copy-color: $s-color-variant-ink-2;

$-typography-variant-copy-small-color: $s-color-variant-ink-3;