/**
 * =======================================================
 *
 * Typography - Variant 1 - Fonts
 *
 * =======================================================
 */

 @font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
     font-family: 'PT Sans';
     src: url('../fonts/PT-Sans/PT-Sans-Regular.woff2') format('woff2'),
          url('../fonts/PT-Sans/PT-Sans-Regular.woff') format('woff'),
          url('../fonts/PT-Sans/PT-Sans-Regular.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT-Sans/PT-Sans-Italic.woff2') format('woff2'),
         url('../fonts/PT-Sans/PT-Sans-Italic.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT-Sans/PT-Sans-Bold.woff2') format('woff2'),
         url('../fonts/PT-Sans/PT-Sans-Bold.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT-Sans/PT-Sans-BoldItalic.woff2') format('woff2'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}