/**
 * =======================================================
 *
 * Typography - Variant 1
 *
 * =======================================================
 */

/**
 * Standard typography, mobile first but currently these
 * sizes are appropriate accross all devices.
 */

.s-typography-variant-1 {

    &-heading-1 {
      color: #FFF;
      font-family: $s-typography-variant-1-family;
      font-size: s-typography-heading-size(1, 'variant');
      font-weight: 700;
      line-height: s-typography-line-height(1, 'variant');
      margin: $s-stack*4 0;
    }

    &-heading-2 {
      color: $s-color-variant-secondary;
      font-family: $s-typography-variant-1-family;
      font-size: s-typography-heading-size(2, 'variant');
      font-weight: 700;
      line-height: s-typography-line-height(2, 'variant');
      margin: $s-stack*4 0;
    }

    &-heading-3 {
      color: $s-color-variant-secondary;
      font-family: $s-typography-variant-1-family;
      font-size: s-typography-heading-size(3, 'variant');
      font-weight: 700;
      line-height: s-typography-line-height(3, 'variant');
      margin: $s-stack*2 0;
    }

    &-body {
      color: $-typography-variant-copy-color;
      font-family: $s-typography-variant-1-body-family;
      font-size: 19px;

      a {
        color: $s-color-variant-primary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

    &-body-small {
      color: $-typography-variant-copy-small-color;
      font-family: $s-typography-variant-1-body-family;
    }

}

.s-quote-variant {
  margin: $s-stack*2 0;
  padding: 0;
  text-align: center;

  p {
    color: $s-color-variant-secondary;
    font-family: $s-typography-variant-1-family;
    font-size: 23px;
    font-weight: 700;

    &:before {
      content: $char-open-quote;
    }

    &:after {
      content: $char-close-quote;
    }

  }

  cite {
    font-style: normal;

    &:before {
      content: '- ';
    }
  }

}