/*
 * =======================================================
 *
 * Buttons
 *
 * =======================================================
 */

 /**
  * This overrides the Vue Material core CSS button 
  * properties that are not configurable.
  * 
  * 1. Remove the box shadow even for md-raised styles.
  * 2. The fixed height hides wrapped text (can happen but not 
  *    idea). Setting auto prevents that edge case.
  * 2. Spacing above and below fits with the site spacing.
  * 3. The default transition speed is perceptibly slow
  *    so set a faster duration.
  * 4. Add a more visible disabled style.
  */
  
.md-button {
  border-radius: $s-radius;
  box-shadow: none; /* 1 */
  font-family: inherit;
  font-weight: 700;
  height: auto; /* 2 */
  margin-bottom: ($s-stack / 2); /* 2 */
  margin-top: ($s-stack / 2); /* 2 */
  text-transform: none;

  &:before {
    transition-duration: $s-transition-duration; /* 3 */
  }

  &:not([disabled]).md-focused:before, 
  &:not([disabled]):active:before, 
  &:not([disabled]):hover:before {
    opacity: .2;
  }

  /* 4 */
  &[disabled] {
    color: $s-button-disabled-color;

    &:before {
      background-color: $s-button-disabled-color;
      opacity: .4;
    }

  }

  &-content {
    padding: 16px 0;
  }

  .md-ripple {
    padding: 0 ($s-gutter * 2);
  }

 }


 /**
  * Custom Settled buttons. MD provides a limited set
  * and this can be expanded as required with a 
  * consistent  
  */
.s-button {

  &--primary {
    background-color: $s-button-primary-color;
    color: $s-button-on-primary-color;
  }

  &--on-primary {
    background-color: $s-button-on-primary-color;
    color: $s-button-primary-color;
  }

}