/**
 * =======================================================
 *
 * Buttons - Variables
 *
 * =======================================================
 */

$s-button-primary-color: #EE7768;
$s-button-on-primary-color: #FFF;

$s-button-disabled-color: #C2C2C2;