<footer class="site-footer" aria-label="Site footer">


  <div class="site-footer__item">
    <h6 class="site-footer__heading">Contact</h6>
    <address>
      <p>Settled <br />35 Kingsland Road, <br />London, <br />E2 8AA <br />020 3322 8417 <br /><a href="hello@settled.co.uk">hello@settled.co.uk</a></a></p>
    </address>
  </div>

  <div class="site-footer__item">
    <h6 class="site-footer__heading">About</h6>
    <ul class="footer-resources">
      <li><a href="">About us</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Press and media</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </div>

  <div class="site-footer__item">
    <h6 class="site-footer__heading">Help</h6>
    <ul class="footer-resources">
      <li><a href="">Help centre</a></li>
      <li><a href="">Contact us</a></li>
      <li><a href="">How it works</a></li>
      <li><a href="">Instant house valuation</a></li>
      <li><a href="">FAQs</a></li>
    </ul>
  </div>

  <div class="site-footer__item">
    <h6 class="site-footer__heading">Useful links</h6>
    <ul class="footer-resources">
      <li><a href="">Houses for sale</a></li>
      <li><a href="">Home buying is moving on</a></li>
      <li><a href="">Get certain, get Settled</a></li>
    </ul>
  </div>

  <div class="site-footer__item">
    <h6 class="site-footer__heading">Policies</h6>
    <ul class="footer-resources">
      <li><a href="">Terms and Conditions</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Acceptable Use Policy</a></li>
      <li><a href="">Cookie Policy</a></li>
    </ul>
  </div>
  
  <p class="colophon">&copy; 2018 Settled.co.uk. All rights Reserved.</p>

</footer>