/**
 * =======================================================
 *
 * Footer
 *
 * =======================================================
 */

.site-footer {
  color: $s-color-variant-ink-3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $s-max-width;
  padding: $s-stack*6 s-layout-margin() $s-stack*1;
  text-align: center;
}

.site-footer__item {
  margin: 0 0 $s-stack*2;
}

.site-footer__heading {
  font-size: 19px;
  font-weight: 600;
  margin: 0 0 $s-stack;
}

.footer-resources {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colophon {
  margin: 0;
  text-align: center;
  width: 100%;
}

@include mq($from: "medium") {

  .site-footer {
    flex-direction: row;
    padding-top: $s-stack*8;
    text-align: left;
  }

  .site-footer__item {
    width: $s-one-third;
  }

  .colophon {
    padding: $s-stack*3 0 0;
  }

}

@include mq($from: "large") {

  .site-footer {
    padding-top: $s-stack*10;
  }

  .site-footer__item {
    width: $s-one-fifth;
  }

}