/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: var(--typography-font-family);
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }


/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

/* Hack */
@font-face {
  font-family: Hack;
  src: url("../fonts/hack-regular-webfont.woff2") format("woff2"), url("../fonts/hack-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Hack;
  src: url("../fonts/hack-bold-webfont.woff2") format("woff2"), url("../fonts/hack-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Hack;
  src: url("../fonts/hack-italic-webfont.woff2") format("woff2"), url("../fonts/hack-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Hack;
  src: url("../fonts/hack-bolditalic-webfont.woff2") format("woff2"), url("../fonts/hack-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  font: 16px/1.5 var(--typography-font-family);
  color: #535363;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%;
  width: 100%; }

button {
  background: transparent;
  border: 0;
  padding: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0; }

iframe {
  border: 0; }




[tabindex="-1"]:focus {
  outline: none !important; }

code,
pre {
  font-family: Hack, Consolas, Monaco, "Andale Mono", monospace;
  font-size: 0.875rem;
  line-height: 1.71429; }

svg {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor; }

::-webkit-scrollbar {
  height: 0.125rem;
  width: 0.125rem; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-thumb {
  background: rgba(83, 83, 99, 0.1);
  border: 0 none transparent;
  border-radius: 0; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(83, 83, 99, 0.2); }

::-webkit-scrollbar-thumb:active {
  background: rgba(83, 83, 99, 0.3); }

::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none transparent;
  border-radius: 0; }

::-webkit-scrollbar-track:hover {
  background: transparent; }

::-webkit-scrollbar-track:active {
  background: transparent; }

::-webkit-scrollbar-corner {
  background: transparent; }

.AssetList {
  list-style: none;
  max-width: 900px;
  margin-top: 40px; }

.AssetList-asset {
  list-style: none;
  width: 100%; }

.AssetList-name {
  color: rgba(83, 83, 99, 0.5); }
  .AssetList-name strong {
    color: #28f;
    font-weight: normal; }

.AssetList-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none; }
  .AssetList-link:hover .AssetList-path {
    color: rgba(83, 83, 99, 0.75); }
  .AssetList-link:hover .AssetList-icon svg {
    fill: #999; }

.AssetList-icon {
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem; }
  [dir="ltr"] .AssetList-icon {
    margin-right: 0.5rem; }
  [dir="rtl"] .AssetList-icon {
    margin-left: 0.5rem; }
  .AssetList-icon svg {
    fill: #ccc; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px; }

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container .select2-search--inline {
  float: left; }

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0; }

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

.select2-results__option[aria-selected] {
  cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box; }

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.select2-search--dropdown.select2-search--hide {
  display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px; }

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none; }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left; }

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px; }

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px; }

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999; }

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

.Browser {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%; }

.Browser-controls {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgba(83, 83, 99, 0.25); }

.Browser-tabs {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .Browser-tabs::-webkit-scrollbar {
    display: none; }

.Browser-tab {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  white-space: nowrap; }
  .Browser-tab a {
    font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0.75rem 0.75rem 0.875rem;
    border-bottom: 0.125rem solid transparent;
    text-align: center; }
    .Browser-tab a:link, .Browser-tab a:visited, .Browser-tab a:hover, .Browser-tab a:active {
      color: #535363;
      text-decoration: none; }
    .Browser-tab a:hover {
      border-bottom-color: #ccc; }
  .Browser-tab.is-active a {
    border-bottom-color: #28f;
    font-weight: bolder; }
  .Browser-tab.is-disabled a {
    opacity: 0.5; }

.Browser-panel {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: none;
  overflow: auto;
  width: 100%;
  background-color: #f6f6f6;
  padding: 0.75rem; }
  .Browser-panel.is-active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .Browser-panel .Code {
    background-color: #f6f6f6; }
    .Browser-panel .Code pre {
      background-color: #f6f6f6;
      padding: 0; }
  .Browser-panel > .Meta {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }

.Browser-isEmptyNote {
  font-style: italic;
  color: #535363;
  opacity: 0.6; }

.Code {
  display: block;
  background-color: #f6f6f6;
  -webkit-overflow-scrolling: touch; }
  .Code pre {
    padding: 0.75rem;
    -webkit-overflow-scrolling: touch; }
    .Code pre a {
      color: #28f;
      text-decoration: none; }
      .Code pre a:hover {
        text-decoration: underline; }

.Document {
  padding: 1.5rem 2rem; }
  @media (max-width: 31.24em) {
    .Document {
      padding: 1.25rem 1rem; } }

.Document-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(83, 83, 99, 0.25);
  padding-bottom: 0; }
  .Document-header .Status {
    -webkit-margin-start: auto;
            margin-inline-start: auto; }
    [dir="ltr"] .Document-header .Status {
      margin-left: auto; }
    [dir="rtl"] .Document-header .Status {
      margin-right: auto; }

.Document-title {
  font: bold 1.75rem/1.14286 "Open Sans", Helvetica, Arial, sans-serif;
  font-feature-settings: "dlig" 1;
  letter-spacing: -0.025em; }

.Error-stack {
  margin-top: 1.5rem; }
  .Error-stack pre {
    font: normal 0.875rem/1.71429 Hack, Consolas, Monaco, "Andale Mono", monospace;
    color: rgba(83, 83, 99, 0.75); }

.Error--render {
  background-color: rgba(187, 0, 0, 0.05);
  border: 1px solid rgba(187, 0, 0, 0.25);
  padding: 0.75rem; }
  .Error--render .Error-title {
    font: normal 0.75rem/1.66667 "Open Sans", Helvetica, Arial, sans-serif;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #b00; }
  .Error--render .Error-message {
    font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif; }
  .Error--render .Error-stack pre,
  .Error--render .Error-stack code {
    background-color: #fff !important; }

.FileBrowser {
  position: static;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.FileBrowser-selectWrapper {
  margin: -0.75rem -0.75rem 0.75rem -0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: rgba(83, 83, 99, 0.05); }
  .FileBrowser-selectWrapper .select2-container {
    font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-margin-start: -0.25rem;
            margin-inline-start: -0.25rem;
    margin-bottom: -1px;
    min-width: 15em; }
    [dir="ltr"] .FileBrowser-selectWrapper .select2-container {
      margin-left: -0.25rem; }
    [dir="rtl"] .FileBrowser-selectWrapper .select2-container {
      margin-right: -0.25rem; }
  .FileBrowser-selectWrapper select:focus,
  .FileBrowser-selectWrapper select:active {
    outline: none; }

.FileBrowser-select-label {
  font: normal 0.75rem/1.66667 "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  display: block;
  width: auto;
  padding: 0.25rem 0;
  font-weight: bold; }

.select2-selection.select2-selection--single {
  border-color: rgba(83, 83, 99, 0.25); }
  .select2-container--focus .select2-selection.select2-selection--single {
    outline: none;
    border-color: #28f; }

.select2-results__option {
  font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif;
  min-width: 15em; }
  .select2-results__option[aria-selected=true] {
    background-color: rgba(83, 83, 99, 0.1) !important; }

.select2-results__option--highlighted[aria-selected] {
  background-color: #14f !important;
  color: #fff !important; }

.FileBrowser-item {
  display: none; }
  .FileBrowser-item.is-active {
    display: block; }

@media (min-width: 37.5em) {
  .Frame.is-closed .FileBrowser-select-label {
    position: relative;
    width: 10rem;
    display: inline-block; } }

@media (min-width: 50em) {
  .Frame:not(.is-closed) .FileBrowser-select-label {
    position: relative;
    width: 10rem;
    display: inline-block; } }

.Frame {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 280px;
  overflow: hidden; }
  .Frame.is-resizing {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
    .Frame.is-resizing .Frame-body,
    .Frame.is-resizing .Frame-panel {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      pointer-events: none; }

.Frame--full > .Error {
  margin: 20px; }

.Frame-header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.Frame-body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: calc(100% - 3rem); }
  @media (max-width: 31.24em) {
    .Frame-body {
      -webkit-margin-end: 240px;
              margin-inline-end: 240px;
      -webkit-transform: translate3d(-240px, 0, 0);
              transform: translate3d(-240px, 0, 0);
      transition: none; }
      [dir="ltr"] .Frame-body {
        margin-right: 240px; }
      [dir="rtl"] .Frame-body {
        margin-left: 240px; } }

.Frame-inner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%;
  min-width: 280px;
  overflow: auto; }

.Frame-panel {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.Frame-panel--sidebar {
  -webkit-border-end: 1px solid rgba(83, 83, 99, 0.25);
          border-inline-end: 1px solid rgba(83, 83, 99, 0.25);
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 240px;
  min-width: 240px;
  max-width: 480px;
  background-color: #f6f6f6;
  padding: 1rem 0; }
  [dir="ltr"] .Frame-panel--sidebar {
    border-right: 1px solid rgba(83, 83, 99, 0.25); }
  [dir="rtl"] .Frame-panel--sidebar {
    border-left: 1px solid rgba(83, 83, 99, 0.25); }
  @media (max-width: 31.24em) {
    .Frame-panel--sidebar {
      max-width: 240px; } }

.Frame-panel--main {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 1;
  overflow: auto; }
  .Frame-panel--main.is-loading {
    background-image: url("../img/loader.svg");
    background-repeat: no-repeat;
    background-position: 50%; }
    .Frame-panel--main.is-loading .Frame-inner {
      display: none; }

.Frame-handle {
  transition: all 0.15s ease-out;
  -webkit-margin-end: -0.625rem;
          margin-inline-end: -0.625rem;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 0.625rem;
  background: transparent url("../img/icon-drag--vertical.svg") no-repeat 50% 45%;
  background-size: 3px 16px;
  cursor: ew-resize; }
  .Frame-handle:hover {
    background-color: rgba(83, 83, 99, 0.05); }
  .Frame-handle:active {
    background-color: rgba(83, 83, 99, 0.075); }
  .Frame-handle.is-disabled {
    pointer-events: none;
    visibility: hidden; }
  @media (max-width: 31.24em) {
    .Frame-handle {
      pointer-events: none;
      visibility: hidden; } }
  [dir="ltr"] .Frame-handle {
    margin-right: -0.625rem; }
  [dir="rtl"] .Frame-handle {
    margin-left: -0.625rem; }

.Header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  background-color: #14f;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  color: #fff; }

.Header-title {
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  line-height: 1.33333;
  white-space: nowrap; }
  .Header-title:link, .Header-title:visited, .Header-title:hover, .Header-title:active {
    color: inherit;
    text-decoration: none; }

.Header-button {
  -webkit-border-end: 1px solid rgba(255, 255, 255, 0.25);
          border-inline-end: 1px solid rgba(255, 255, 255, 0.25);
  display: block;
  border: 0;
  height: 3rem;
  width: 3rem;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  color: inherit;
  cursor: pointer; }
  [dir="ltr"] .Header-button {
    border-right: 1px solid rgba(255, 255, 255, 0.25); }
  [dir="rtl"] .Header-button {
    border-left: 1px solid rgba(255, 255, 255, 0.25); }
  .Header-button:focus, .Header-button:active {
    outline: none; }
  .Header-button:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  .Header-button:active {
    background-color: rgba(255, 255, 255, 0.1); }

.Header-navToggle svg {
  display: none;
  margin: 0 auto;
  fill: #fff; }

.Frame .Header-navToggleIcon--open {
  display: block; }

.Frame.is-closed .Header-navToggleIcon--open {
  display: none; }

.Frame.is-closed .Header-navToggleIcon--closed {
  display: block; }

.Meta a {
  text-decoration: none; }

.Meta-item {
  overflow: hidden;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem; }
  .Meta-item:not(:last-child) {
    border-bottom: 1px solid rgba(83, 83, 99, 0.15); }

.Meta-key {
  font: normal 0.75rem/1.66667 "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  display: block;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  color: rgba(83, 83, 99, 0.75); }

.Meta-value {
  font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif;
  display: block;
  min-width: 10rem;
  padding-bottom: 0.25rem; }
  .Meta-value a {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .Meta-value a svg {
    width: 1rem;
    height: 1rem;
    margin-left: 5px; }
  .Meta-value a:hover span {
    text-decoration: underline; }
  .Meta-value li:not(:last-child) {
    margin-bottom: 0.25em; }

.Meta-count {
  font-style: normal;
  font-weight: normal;
  opacity: 0.75; }

@media (min-width: 37.5em) {
  .Frame.is-closed .Meta-item {
    -webkit-padding-start: 10rem;
            padding-inline-start: 10rem; }
    [dir="ltr"] .Frame.is-closed .Meta-item {
      padding-left: 10rem; }
    [dir="rtl"] .Frame.is-closed .Meta-item {
      padding-right: 10rem; }
  .Frame.is-closed .Meta-key {
    -webkit-margin-start: -10rem;
            margin-inline-start: -10rem;
    width: 10rem;
    float: left; }
    [dir="ltr"] .Frame.is-closed .Meta-key {
      margin-left: -10rem; }
    [dir="rtl"] .Frame.is-closed .Meta-key {
      margin-right: -10rem; } }

@media (min-width: 50em) {
  .Frame:not(.is-closed) .Meta-item {
    -webkit-padding-start: 10rem;
            padding-inline-start: 10rem; }
    [dir="ltr"] .Frame:not(.is-closed) .Meta-item {
      padding-left: 10rem; }
    [dir="rtl"] .Frame:not(.is-closed) .Meta-item {
      padding-right: 10rem; }
  .Frame:not(.is-closed) .Meta-key {
    -webkit-margin-start: -10rem;
            margin-inline-start: -10rem;
    width: 10rem;
    float: left; }
    [dir="ltr"] .Frame:not(.is-closed) .Meta-key {
      margin-left: -10rem; }
    [dir="rtl"] .Frame:not(.is-closed) .Meta-key {
      margin-right: -10rem; } }

.Navigation {
  display: inline-block;
  min-width: 100%; }

.Navigation-group::after {
  display: table;
  clear: both;
  content: ""; }

.Navigation-group + .Navigation-group {
  margin-top: 1.5rem; }

.Pen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  overflow: hidden;
  background: white; }
  .Pen.is-resizing {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
    .Pen.is-resizing .Pen-handle {
      cursor: -webkit-grabbing;
      cursor: grabbing; }

.Pen-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-height: 3rem;
  padding: 0.75rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .Pen-header .Status {
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    -webkit-padding-start: 0.5rem;
            padding-inline-start: 0.5rem; }
    [dir="ltr"] .Pen-header .Status {
      margin-left: auto; }
    [dir="rtl"] .Pen-header .Status {
      margin-right: auto; }
    [dir="ltr"] .Pen-header .Status {
      padding-left: 0.5rem; }
    [dir="rtl"] .Pen-header .Status {
      padding-right: 0.5rem; }
  @media (max-width: 31.24em) {
    .Pen-header {
      margin: 0;
      border-bottom: 1px solid rgba(83, 83, 99, 0.25);
      padding: 0.75rem; }
      .Pen-header .Status .Status-label {
        position: relative;
        height: 0;
        width: 0;
        overflow: hidden;
        background-color: #fff !important;
        border-radius: 100%;
        border-style: solid;
        border-width: 0.125rem;
        padding: 0.25rem;
        color: transparent !important; } }

.Pen-title {
  font: bold 1.125rem/1.33333 "Open Sans", Helvetica, Arial, sans-serif;
  font-feature-settings: "dlig" 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Pen-previewLink:link, .Pen-previewLink:visited, .Pen-previewLink:hover, .Pen-previewLink:active {
  color: #444;
  text-decoration: none; }

.Pen-previewLink svg {
  fill: #28f;
  opacity: 0.75; }

.Pen-previewLink:hover svg {
  opacity: 1; }

.Pen-preview {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 50%;
  max-height: calc(100% - 3.75rem);
  margin: 0 0.625rem; }
  @media (max-width: 31.24em) {
    .Pen-preview {
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      height: auto !important;
      max-height: 100%;
      margin: 0; } }

.Pen-handle {
  transition: all 0.15s ease-out;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 0.625rem;
  margin: 0 0.625rem;
  background: transparent url("../img/icon-drag--horizontal.svg") no-repeat 50% 50%;
  background-size: 16px 3px;
  cursor: ns-resize; }
  .Pen-handle:hover {
    background-color: rgba(83, 83, 99, 0.05); }
  .Pen-handle:active {
    background-color: rgba(83, 83, 99, 0.075); }
  .Pen-handle.is-disabled {
    pointer-events: none;
    visibility: hidden; }
  @media (max-width: 31.24em) {
    .Pen-handle {
      pointer-events: none;
      visibility: hidden; } }
  @media (max-width: 31.24em) {
    .Pen-handle {
      display: none; } }

.Pen-handle--browser {
  display: block;
  pointer-events: all;
  visibility: visible; }

.Pen-info {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  margin: 0.625rem;
  margin-top: 0;
  border: 1px solid rgba(83, 83, 99, 0.25); }
  @media (max-width: 31.24em) {
    .Pen-info {
      display: none; } }

.Preview {
  position: relative; }
  .Preview.is-disabled .Preview-overlay {
    display: block; }
  .Preview.is-resizing {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
    .Preview.is-resizing * {
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important; }
  @media (min-width: 31.25em) {
    .Preview {
      background-color: #f6f6f6;
      border: 1px solid rgba(83, 83, 99, 0.25); } }

.Preview-wrapper {
  offset-inline-start: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  width: calc(100% + 0.625rem);
  min-width: 200px;
  max-width: calc(100% + 0.625rem);
  background-color: transparent; }
  [dir="ltr"] .Preview-wrapper {
    left: 0; }
  [dir="rtl"] .Preview-wrapper {
    right: 0; }

.Preview-resizer {
  offset-inline-start: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: calc(100% - 0.625rem + 1px);
  min-width: 180px;
  background-color: white;
  -webkit-overflow-scrolling: touch; }
  [dir="ltr"] .Preview-resizer {
    left: 0; }
  [dir="rtl"] .Preview-resizer {
    right: 0; }
  @media (max-width: 31.24em) {
    .Preview-resizer {
      width: 100% !important;
      min-width: 100%;
      border: 0; } }
  .Preview-resizer .Error {
    margin: 0.75rem; }

.Preview-iframe {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%; }

.Preview-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0; }

.Preview-handle {
  -webkit-border-start: 1px solid rgba(83, 83, 99, 0.25);
          border-inline-start: 1px solid rgba(83, 83, 99, 0.25);
  transition: all 0.15s ease-out;
  offset-inline-end: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  z-index: 100;
  height: calc(100% + 2px);
  width: 0.625rem;
  background: transparent url("../img/icon-drag--vertical.svg") no-repeat 50%;
  background-size: 3px 16px;
  cursor: ew-resize; }
  [dir="ltr"] .Preview-handle {
    border-left: 1px solid rgba(83, 83, 99, 0.25); }
  [dir="rtl"] .Preview-handle {
    border-right: 1px solid rgba(83, 83, 99, 0.25); }
  .Preview-handle:hover {
    background-color: rgba(83, 83, 99, 0.05); }
  .Preview-handle:active {
    background-color: rgba(83, 83, 99, 0.075); }
  .Preview-handle.is-disabled {
    pointer-events: none;
    visibility: hidden; }
  @media (max-width: 31.24em) {
    .Preview-handle {
      pointer-events: none;
      visibility: hidden; } }
  [dir="ltr"] .Preview-handle {
    right: 0; }
  [dir="rtl"] .Preview-handle {
    left: 0; }
  @media (max-width: 31.24em) {
    .Preview-handle {
      display: none; } }
/*
.Prose {
  font: normal 1rem/1.5 "Open Sans", Helvetica, Arial, sans-serif;
  max-width: 44em;
  font-feature-settings: "liga", "dlig", "kern", "onum";
  hanging-punctuation: first; }
  .Prose > *:not(:last-child) {
    margin-bottom: 0.75em; }
  .Prose ul,
  .Prose ol {
    -webkit-padding-start: 1.25em;
            padding-inline-start: 1.25em; }
    [dir="ltr"] .Prose ul, [dir="ltr"]
    .Prose ol {
      padding-left: 1.25em; }
    [dir="rtl"] .Prose ul, [dir="rtl"]
    .Prose ol {
      padding-right: 1.25em; }
  .Prose li,
  .Prose li > ul,
  .Prose li > ol {
    margin-bottom: 0.25em; }
  .Prose ul > li {
    list-style-type: square; }
  .Prose ol > li {
    list-style-type: decimal; }
  .Prose h1 {
    font: bold 1.75rem/1.14286 "Open Sans", Helvetica, Arial, sans-serif;
    font-feature-settings: "dlig" 1;
    letter-spacing: -0.025em; }
  .Prose h2 {
    font: bold 1.3125rem/1.14286 "Open Sans", Helvetica, Arial, sans-serif;
    font-feature-settings: "dlig" 1;
    margin-bottom: 1em;
    color: #444; }
  .Prose *:not(hr) + h2 {
    margin-top: 2em; }
  .Prose h3 {
    font: bold 1.125rem/1.33333 "Open Sans", Helvetica, Arial, sans-serif;
    font-feature-settings: "dlig" 1;
    margin-bottom: 0.75em;
    opacity: 0.8; }
  .Prose * + h3 {
    margin-top: 2.25em; }
  .Prose hr {
    height: 0;
    border: 0;
    border-top: 0.125rem solid rgba(83, 83, 99, 0.25);
    margin: 2em 0; }
  .Prose abbr {
    font-feature-settings: "c2sc"; }
  .Prose blockquote {
    -webkit-border-start: solid rgba(83, 83, 99, 0.25);
            border-inline-start: solid rgba(83, 83, 99, 0.25);
    -webkit-padding-start: 1em;
            padding-inline-start: 1em;
    opacity: 0.75; }
    [dir="ltr"] .Prose blockquote {
      border-left: solid rgba(83, 83, 99, 0.25); }
    [dir="rtl"] .Prose blockquote {
      border-right: solid rgba(83, 83, 99, 0.25); }
    [dir="ltr"] .Prose blockquote {
      padding-left: 1em; }
    [dir="rtl"] .Prose blockquote {
      padding-right: 1em; }
  .Prose code,
  .Prose code pre {
    background-color: rgba(83, 83, 99, 0.075); }
  .Prose img {
    max-width: 100%; }
  .Prose p code,
  .Prose li code {
    padding: 0.125rem; }
  .Prose code pre {
    padding: 0.125rem 0.5rem;
    margin: 1rem -0.5rem;
    overflow: auto; }
  .Prose table {
    width: 100%;
    margin: 1rem -0.5rem;
    border-collapse: collapse;
    font-size: 0.875rem;
    font-feature-settings: "lnum" 1, "tnum" 1; }
  .Prose caption {
    font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif;
    padding: 0 0.5rem;
    font-style: italic;
    text-align: start;
    color: rgba(83, 83, 99, 0.75);
    opacity: 0.8; }
  .Prose td,
  .Prose th {
    padding: 0.75em 0.5rem;
    text-align: start; }
    [dir="ltr"] .Prose td, [dir="ltr"]
    .Prose th {
      text-align: left; }
    [dir="rtl"] .Prose td, [dir="rtl"]
    .Prose th {
      text-align: right; }
  .Prose tr:nth-child(even) {
    background-color: rgba(83, 83, 99, 0.05); }
  .Prose th {
    background-color: rgba(83, 83, 99, 0.075);
    border-bottom: 1px solid rgba(83, 83, 99, 0.1); }

.Prose--condensed > * {
  margin-bottom: 0.50em; }

.Prose--condensed li,
.Prose--condensed li > ul,
.Prose--condensed li > ol {
  margin-bottom: 0.15em; }

.Prose--condensed *:not(hr) + h2 {
  margin-top: 1em; }

.Prose--condensed h3 {
  margin-bottom: 0.55em;
  opacity: 0.8; }

.Prose--condensed * + h3 {
  margin-top: 1.25em; }

.Prose--condensed hr {
  margin: 1em 0; }
*/


.Status,
.Status-dots {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.Status-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 100%; }

.Status-dot + .Status-dot {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px; }
  [dir="ltr"] .Status-dot + .Status-dot {
    margin-left: 3px; }
  [dir="rtl"] .Status-dot + .Status-dot {
    margin-right: 3px; }

.Status-label {
  font: normal 0.75rem/1.66667 "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 2rem;
  padding: 0.125rem 0.75rem;
  color: white;
  white-space: nowrap; }

.Status-label + .Status-label {
  -webkit-margin-start: 0.25rem;
          margin-inline-start: 0.25rem; }
  [dir="ltr"] .Status-label + .Status-label {
    margin-left: 0.25rem; }
  [dir="rtl"] .Status-label + .Status-label {
    margin-right: 0.25rem; }

.Status--labelled .Status-label {
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem; }
  [dir="ltr"] .Status--labelled .Status-label {
    margin-right: 0.75rem; }
  [dir="rtl"] .Status--labelled .Status-label {
    margin-left: 0.75rem; }

.Tree {
  white-space: nowrap; }

.Tree-title {
  font: normal 0.75rem/1.66667 "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(83, 83, 99, 0.75); }
  [dir="ltr"] .Tree-title {
    padding-left: 1rem; }
  [dir="rtl"] .Tree-title {
    padding-right: 1rem; }

.Tree-collection.is-closed {
  background-color: transparent; }
  .Tree-collection.is-closed .Tree-collectionItems {
    display: none; }
  [dir="ltr"] .Tree-collection.is-closed .Tree-collectionLabel span::before {
    background-image: url("../img/icon-navigation-closed-ltr.svg"); }
  [dir="rtl"] .Tree-collection.is-closed .Tree-collectionLabel span::before {
    background-image: url("../img/icon-navigation-closed-rtl.svg"); }

.Tree-collectionLabel {
  font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #535363; }
  .Tree-collectionLabel:hover {
    background-color: rgba(83, 83, 99, 0.05); }
  .Tree-collectionLabel span {
    -webkit-padding-start: 0.75rem;
            padding-inline-start: 0.75rem;
    -webkit-margin-start: -1.75rem;
            margin-inline-start: -1.75rem;
    display: block;
    position: relative; }
    [dir="ltr"] .Tree-collectionLabel span {
      padding-left: 0.75rem; }
    [dir="rtl"] .Tree-collectionLabel span {
      padding-right: 0.75rem; }
    [dir="ltr"] .Tree-collectionLabel span {
      margin-left: -1.75rem; }
    [dir="rtl"] .Tree-collectionLabel span {
      margin-right: -1.75rem; }
  .Tree-collectionLabel span::before {
    offset-inline-start: 0;
    display: inline-block;
    position: absolute;
    top: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    background-image: url("../img/icon-navigation-opened.svg");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.5;
    content: ""; }
    [dir="ltr"] .Tree-collectionLabel span::before {
      left: 0; }
    [dir="rtl"] .Tree-collectionLabel span::before {
      right: 0; }

.Tree-item {
  font: normal 0.875rem/1.71429 "Open Sans", Helvetica, Arial, sans-serif; }

.Tree-entityLink {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  text-decoration: none; }
  .Tree-entityLink:hover {
    background-color: rgba(83, 83, 99, 0.05); }
  .is-current .Tree-entityLink {
    background-color: rgba(83, 83, 99, 0.075); }
  .Tree-entityLink .Status {
    -webkit-margin-start: 0.25rem;
            margin-inline-start: 0.25rem; }
    [dir="ltr"] .Tree-entityLink .Status {
      margin-left: 0.25rem; }
    [dir="rtl"] .Tree-entityLink .Status {
      margin-right: 0.25rem; }

.Tree-depth-1 .Tree-collectionLabel,
.Tree-depth-1 .Tree-entityLink {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem; }
  [dir="ltr"] .Tree-depth-1 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-1 .Tree-entityLink {
    padding-left: 1rem; }
  [dir="rtl"] .Tree-depth-1 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-1 .Tree-entityLink {
    padding-right: 1rem; }

.Tree-depth-2 .Tree-collectionLabel,
.Tree-depth-2 .Tree-entityLink {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem; }
  [dir="ltr"] .Tree-depth-2 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-2 .Tree-entityLink {
    padding-left: 2rem; }
  [dir="rtl"] .Tree-depth-2 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-2 .Tree-entityLink {
    padding-right: 2rem; }

.Tree-depth-3 .Tree-collectionLabel,
.Tree-depth-3 .Tree-entityLink {
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem; }
  [dir="ltr"] .Tree-depth-3 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-3 .Tree-entityLink {
    padding-left: 3rem; }
  [dir="rtl"] .Tree-depth-3 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-3 .Tree-entityLink {
    padding-right: 3rem; }

.Tree-depth-4 .Tree-collectionLabel,
.Tree-depth-4 .Tree-entityLink {
  -webkit-padding-start: 4rem;
          padding-inline-start: 4rem; }
  [dir="ltr"] .Tree-depth-4 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-4 .Tree-entityLink {
    padding-left: 4rem; }
  [dir="rtl"] .Tree-depth-4 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-4 .Tree-entityLink {
    padding-right: 4rem; }

.Tree-depth-5 .Tree-collectionLabel,
.Tree-depth-5 .Tree-entityLink {
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem; }
  [dir="ltr"] .Tree-depth-5 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-5 .Tree-entityLink {
    padding-left: 5rem; }
  [dir="rtl"] .Tree-depth-5 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-5 .Tree-entityLink {
    padding-right: 5rem; }

.Tree-depth-6 .Tree-collectionLabel,
.Tree-depth-6 .Tree-entityLink {
  -webkit-padding-start: 6rem;
          padding-inline-start: 6rem; }
  [dir="ltr"] .Tree-depth-6 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-6 .Tree-entityLink {
    padding-left: 6rem; }
  [dir="rtl"] .Tree-depth-6 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-6 .Tree-entityLink {
    padding-right: 6rem; }

.Tree-depth-7 .Tree-collectionLabel,
.Tree-depth-7 .Tree-entityLink {
  -webkit-padding-start: 7rem;
          padding-inline-start: 7rem; }
  [dir="ltr"] .Tree-depth-7 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-7 .Tree-entityLink {
    padding-left: 7rem; }
  [dir="rtl"] .Tree-depth-7 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-7 .Tree-entityLink {
    padding-right: 7rem; }

.Tree-depth-8 .Tree-collectionLabel,
.Tree-depth-8 .Tree-entityLink {
  -webkit-padding-start: 8rem;
          padding-inline-start: 8rem; }
  [dir="ltr"] .Tree-depth-8 .Tree-collectionLabel, [dir="ltr"]
  .Tree-depth-8 .Tree-entityLink {
    padding-left: 8rem; }
  [dir="rtl"] .Tree-depth-8 .Tree-collectionLabel, [dir="rtl"]
  .Tree-depth-8 .Tree-entityLink {
    padding-right: 8rem; }
