@import "./default.css";
@import "./theme.css";
@import "./../../styles/settled.css";

/*
 * --------------------------------------------------------
 * Settled Fractal Theme
 *
 * An override stylesheet that modifies the default theme
 * without creating a bespoke subtheme that would need
 * to be packaged.
 * --------------------------------------------------------
 */

 :root {
  --color-primary: #4B4F65;
  --color-secondary: #EF5350;
  --color-stroke: rgba(75, 79, 101, 0.25);
  --color-primary-variation-1: #BEC3D9;

  --typography-line-height-offset: 8px;
  --typography-font-family: 'Inter-UI', Helvetica, Arial, sans-serif;
  --typography-body-color: #4B4F65;
  
  --typography--body-size: 16px;
  --typography--heading-1-font-size: 37px;

  --header-height: 100px;
  --header-body-color: #FFF;

  --nav-space: 25px;

  --prose-space: 50px;

  --grid-gutter: 25px;

  --size-one-third: 33.333%;

  --s-space-stack: 20px;

  --s-layout-small-gutter: 16px;
  --s-layout-medium-gutter: 16px;
  --s-layout-large-gutter: 24px;

  --char-nbsp: '\00a0';

  --breakpoint-large: 1400px;
  --breakpoint-medium: 635px;
  --breakpoint-small: 411px;
}



/**
* --------------------------------------------------------
* Fonts
* --------------------------------------------------------
*/

@font-face {
  font-family: 'Inter-UI';
  src: url('../fonts/Inter-UI/Inter-UI-Regular.woff2') format('woff2'),
       url('../fonts/Inter-UI/Inter-UI-Regular.woff') format('woff'),
       url('../fonts/Inter-UI/Inter-UI-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('../fonts/Inter-UI/Inter-UI-Medium.woff2') format('woff2'),
       url('../fonts/Inter-UI/Inter-UI-Medium.woff') format('woff'),
       url('../fonts/Inter-UI/Inter-UI-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('../fonts/Inter-UI/Inter-UI-Bold.woff2') format('woff2'),
       url('../fonts/Inter-UI/Inter-UI-Bold.woff') format('woff'),
       url('../fonts/Inter-UI/Inter-UI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT-Sans/PT-Sans-Regular.woff2') format('woff2'),
       url('../fonts/PT-Sans/PT-Sans-Regular.woff') format('woff'),
       url('../fonts/PT-Sans/PT-Sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
 font-family: 'PT Sans';
 src: url('../fonts/PT-Sans/PT-Sans-Italic.woff2') format('woff2'),
      url('../fonts/PT-Sans/PT-Sans-Italic.woff') format('woff'),
      url('../fonts/PT-Sans/PT-Sans-Italic.ttf') format('truetype');
 font-weight: 400;
 font-style: italic;
}

@font-face {
 font-family: 'PT Sans';
 src: url('../fonts/PT-Sans/PT-Sans-Bold.woff2') format('woff2'),
      url('../fonts/PT-Sans/PT-Sans-Bold.woff') format('woff'),
      url('../fonts/PT-Sans/PT-Sans-Bold.ttf') format('truetype');
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: 'PT Sans';
 src: url('../fonts/PT-Sans/PT-Sans-BoldItalic.woff2') format('woff2'),
      url('../fonts/PT-Sans/PT-Sans-BoldItalic.woff') format('woff'),
      url('../fonts/PT-Sans/PT-Sans-BoldItalic.ttf') format('truetype');
 font-weight: 700;
 font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
       url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
       url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
       url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
