/*
 * --------------------------------------------------------
 * Basic elements
 * --------------------------------------------------------
 */

 html {
    color: var(--typography-body-color);
    font-family: var(--typography-font-family);
    font-size: var(--typography--body-size);
    line-height: calc(var(--typography--body-size) + var(--typography-line-height-offset));
 }


/*
 * --------------------------------------------------------
 * Header
 * --------------------------------------------------------
 */

.Header {
    background-color: var(--color-primary);
    box-shadow: none;
    color: var(--header-body-color);
    min-height: var(--header-height);
}

/*
 * 1) Hide for now according to the design.
 */
.Header-title {
    display: none; /* 1 */
}

/*
 * 1) Hide for now according to the design.
 */
.Header-navToggle svg {
    fill: var(--header-body-color);
    visibility: hidden; /* 1 */
}

[dir="ltr"] .Header-button {
    border-width: 0;
    height: var(--header-height);
}


/*
 * --------------------------------------------------------
 * Navigation and sidebar
 * --------------------------------------------------------
 */

 .Navigation ol,
 .Navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

 /*
  * 1) The design uses 500 as a weight so 600 is the closest visual match.
  * 2) Forces the new line code to work on the content.
  */
.Navigation-title {
    display: block;
    font-size: 24px;
    font-weight: 600; /* 1 */
    line-height: 37px;
    padding: 0 var(--nav-space);
    white-space: pre; /* 2 */
}

.Navigation-title:after {
    background: var(--color-secondary);
    content: var(--char-nbsp);
    display: block;
    height: 3px;
    margin: 14px 0 64px;
    width: 94px;
}

/*
* 1) Hide the accordion arrow.
*/
.Tree-collectionLabel span:before {
    display: none; /* 1 */
}

/*
 * 1) Hide the resize handle as per the design.
 */
.Frame-handle {
    display: none;
}

.Tree-title {
    border-bottom: solid 1px var(--color-stroke);
    color: var(--color-primary);
    font: bold var(--typography--body-size)/29px var(--typography-font-family);
    letter-spacing: 0;
    margin-left: var(--nav-space);
    padding: 0 0 5px !important;
    text-transform: capitalize;
}

.Tree-item {
    font: normal var(--typography--body-size)/29px var(--typography-font-family);
}

[dir="ltr"] .Tree-depth-1 .Tree-collectionLabel, 
[dir="ltr"] .Tree-depth-1 .Tree-entityLink {
    padding: 2px var(--nav-space);
}

.is-current .Tree-entityLink {
    background: none;
    font-weight: 700;
}


/*
 * --------------------------------------------------------
 * Document - main content
 * --------------------------------------------------------
 */
.Document {
    padding: var(--grid-gutter);
}

.Document-title {
    font-family: var(--typography-font-family);
    font-size: var(--typography--heading-1-font-size);
    font-weight: 700;
}

.Document-header {
    border-width: 0;
}


/*
 * --------------------------------------------------------
 * Prose - content copy
 * --------------------------------------------------------
 */

.Prose {
    max-width: 800px;
}

.Prose hr {
    border: 1px solid var(--color-stroke);
    border-width: 1px 0 0;  
    height: 0;
    margin: calc(var(--s-space-stack) * 3) 0;  
}

/*
.Prose > *:not(:last-child) {
    margin-bottom: 19px;
}

.Prose h2 {
    color: var(--color-primary);
    font-family: var(--typography-font-family);
    font-size: 29px;
    line-height: calc(29px + var(--typography-line-height-offset));
    margin: 0 0 16px !important;
}
*/

.Prose code, 
.Prose code pre {
    background: var(--color-primary-variation-1);
}

.Prose code * {    
    color: #4B4F65 !important;
    font-weight: normal !important;
}

.Prose code pre {
    margin: var(--grid-gutter) 0;
    overflow-y: scroll;
    padding: calc(var(--grid-gutter) - 8px) var(--grid-gutter);
}


/*
 * --------------------------------------------------------
 * Sidebar
 * --------------------------------------------------------
 */
.Frame-panel--sidebar {
    background-color: #fff;
    padding: 16px 0;
}



/*
 * --------------------------------------------------------
 * Colour display
 * --------------------------------------------------------
 */

.s-palette {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--grid-gutter) * -1) 0 0 calc(var(--grid-gutter) * -1);
}

.s-palette__colour {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    margin: var(--grid-gutter) 0 0 var(--grid-gutter);
    min-height: 100px;
    width: 40%;
}

@media screen and (min-width: 635px) {

    .s-palette__colour {
        width: 28%;
    }

}

@media screen and (min-width: 1400px) {

    .s-palette__colour {
        max-width: 180px;
    }

}

.s-palette__visual {
    align-items: center;
    display: flex;
    font-weight: 600;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.s-palette__colour--dark .s-palette__visual {
    color: #FFF;
}

.s-palette__colour-name {
    font-weight: 600;
}

.s-palette__usage {
    margin: calc(var(--grid-gutter) / 2) 0;
    padding: 0;
}

.s-palette__usage dt {
    font-weight: 600;
}

.s-palette__name {
    font-weight: 600;
    padding: 5px 0 0;
}


/*
 * --------------------------------------------------------
 * Grid
 * --------------------------------------------------------
 */

 .s-pattern-grid {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--grid-gutter) * -1) 0 0 calc(var(--grid-gutter) * -1);
 }

 .s-pattern-grid__item {
    padding: var(--grid-gutter) 0 0 var(--grid-gutter);
    width: var(--size-one-third);
 }

 .s-typography-demo {
    font-size: 23px;
    word-break: break-word;
 }

 .s-typography-demo--medium {
     font-weight: 600;
 }

 .s-typography-demo--bold {
     font-weight: 700;
 }

 .s-typography--variant-1-demo {
    font-family: 'PlayfairDisplay', Helvetica, Arial, sans-serif;
 }

 .s-typography-variant-1-demo--bold {
     font-weight: 700;
 }

 .s-typography--variant-2-demo {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
 }

 .s-typography-variant-2-demo--bold {
     font-weight: 700;
 }



 



/*
 * --------------------------------------------------------
 * Just a little utility to show which breakpoints 
 * are active.
 * --------------------------------------------------------
 */

 .sf-breakpoint {
    background: #BEC3D9;
    border-radius: 0;
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
}

.sf-breakpoint:before {
  content: "Small breakpoint (max-width: 634px)";
}

@media screen and (min-width: 635px) {

 .sf-breakpoint:before {
   content: "Medium breakpoint (min-width: 635px)";
 }

}

@media screen and (min-width: 1400px) {

 .sf-breakpoint:before {
   content: "Large breakpoint (min-width: 1400px)";
 }

} 


.sf-heading-2 {
    font-size: 29px;
    font-weight: 700;
    margin-top: calc(var(--s-space-stack) * 1);
}

.sf-heading-3 {
    color: #6F7D96;
    font-size: var(--typography--body-size);
    text-transform: uppercase;
    margin-top: calc(var(--s-space-stack) * 1);
}

code + .sf-heading-3 {
    padding-top: calc(var(--s-space-stack) * 2);
}

.code--break {
    white-space: pre-line;
    word-break: break-all;
}


.sf-layout {
    background: #C4C4C4;
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 411px;
    padding: 16px;
    row-gap: 16px
}

.sf-layout-item {
    background: #FFF;
    min-height: 100px;
}

.sf-layout--medium {
    column-gap: 16px;
    grid-template-columns: repeat(8, 1fr);
    max-width: 635px;
    padding: 16px;
    row-gap: 16px
}

.sf-layout--large {
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    min-width: 1000px;
    padding: 24px;
    row-gap: 24px
}

.sf-layout--demo {
    max-width: initial;
    width: 100%;
    column-gap: 16px;
    padding: 16px;
    row-gap: 16px;
}


.sf-layout-item--medium {
    display: none;
}

.sf-layout-item--large {
    display: none;
}

@media screen and (min-width: 635px) {
    .sf-layout--demo {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 16px;
        padding: 16px;
        row-gap: 16px;
    }

    .sf-layout-item--medium {
        display: block;
    }
}

@media screen and (min-width: 1400px) {
    .sf-layout--demo {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        padding: 24px;
        row-gap: 24px;
    }

    .sf-layout-item--medium {
        display: block;
    }

    .sf-layout-item--large {
        display: block;
    }
}

.sf-breakpoint-grid {
    background: #BEC3D9;
    border-radius: 0;
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
}

.sf-breakpoint-grid:before {
  content: "Small screen: 4 columns with 16 pixel gutters.";
}

@media screen and (min-width: 635px) {

 .sf-breakpoint-grid:before {
    content: "Medium screen: 8 columns with 16 pixel gutters.";
 }

}

@media screen and (min-width: 1400px) {

 .sf-breakpoint-grid:before {
    content: "Large screen: 12 columns with 24 pixel gutters.";
 }

} 

.Browser-tabs {
    margin: 0;
    padding: 0;
}

.Browser-tab a {
    font-family: inherit;
}

.Browser-tab.is-active a {
    border-color: var(--color-secondary);
}


.sf-background-primary {
    background-color: #EF5350;
    padding: 20px; 
}

.sf-background-variant-1-primary {
    background-color: #EE7768;
    padding: 20px; 
}

.Browser-panel {
    background: #F5F5F5;
}