<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ path '/styles/vue-material.min.css' }}" type="text/css">

    <link media="all" rel="stylesheet" href="{{ path '/styles/settled.css' }}">

    <script src="{{ path '/scripts/vue.min.js' }}"></script>
    
    <script src="{{ path '/scripts/vue-material.min.js' }}"></script>

    <title>{{ _target.label }} - Preview layout</title>
</head>
<body>

    <div id="app">

        {{{ yield }}}

    </div>

    <script>
        Vue.use(VueMaterial.default)

        new Vue({
            el: '#app'
        })
    </script>

</body>
</html>

