@charset "UTF-8";
/**
 * =======================================================
 *
 * Global variables
 *
 * =======================================================
 */
/**
 * -------------------------------------------------------
 * Branding colour palaette
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Spacing and site properties
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Base typography
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Transition and animation styles
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Shortcuts to character codes for CSS content values
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Media query breakpoints
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Layout variables can be used directly or used by
 * functions to calculate values for properties
 * that need to align to a grid size.
 * -------------------------------------------------------
 */
/**
 * The number of columns visible in each
 * breakpoint.
 */
/**
 * -------------------------------------------------------
 * Percentage size shortcuts
 * -------------------------------------------------------
 */
/**
 * -------------------------------------------------------
 * Adapters - CSS to resolve compatibility with other
 * CSS and packages.
 * -------------------------------------------------------
 */
/**
  * By default this is true and assumes that the 
  * Vue Material components are present so that they
  * can be customised to the Settled theme.
  * Setting this to false when Vue Material is not present
  * (for example on static sites) will import an adapter 
  * that will polyfill the Vue Material CSS.
  */
/**
 * =======================================================
 *
 * Global functions
 *
 * =======================================================
 */
/**
 * Get the dimension for a given screen size according 
 * to the grid. As the margins are the same as the gutter,
 * it will assume that in the calculation.
 * ---
 * Usage example:
 *
 * section {
 * width: s-layout-size(2); }
 *
 * section {
 * width: s-layout-size(2, "medium"); }
 *
 * @param {number} $column-span — The number of columns to span.
 * @param {sting} $size         — The screen size set of dimensions to refer to.
 */
/**
 * Get the margin size for a given screen size. Defaults
  to 'small'.
 * ---
 * Usage example:
 *
 * section {
 * padding: 0 s-layout-margin("medium"); }
 *
 * @param {string} $size — The screen size set of dimensions to refer to.
 */
/**
 * =======================================================
 *
 * Global mixins
 *
 * =======================================================
 */
/**
 * Include a breakpoints as a mixin.
 * ---
 * Usage example:
 *
 * section {
 *   width: 100%;
 *
 *   @include mq("medium") {
 *     width: 50%;
 *   } 
 * }
 *
 * @param {string} $from — The min-width screen size to refer to.
 */
/**
 * =======================================================
 *
 * Normalise
 *
 * =======================================================
 */
body {
  color: #4B4F65;
  font-family: "Inter-UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

p {
  margin: 20px 0;
}

ol,
ul {
  margin: 20px 0;
}

/**
 * 1. Remove gray background on active links in IE10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  color: inherit;
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

::-moz-selection {
  background-color: #F0EFFD;
}

::selection {
  background-color: #F0EFFD;
}

address {
  font-style: normal;
}

/**
 * =======================================================
 *
 * Typography - Default
 *
 * =======================================================
 */
/**
 * =======================================================
 *
 * Typography - Functions
 *
 * =======================================================
 */
/**
 * Get the line height for a heading level that maps to the
 * standard HTML H1 - H6
 * ---
 * Usage example:
 *
 * p {
 * font-family: s-typography-line-height(1); }
 *
 * p {
 * font-family: s-typography-line-height(1); }
 *
 * @param {number} $level     — The heading level.
 * @param {string} [$variant] — The variant name.
 */
/**
 * Get the font size for a heading level that maps to the
 * standard HTML H1 - H6
 * ---
 * Usage example:
 *
 * p {
 * font-size: s-typography-heading-size(1); }
 *
 * p {
 * font-size: s-typography-heading-size(1, 'variant'); }
 *
 * @param {number} $level     — The heading level.
 * @param {string} [$variant] — The variant name.
 */
/**
 * =======================================================
 *
 * Fonts - Typography
 *
 * =======================================================
 */
@font-face {
  font-family: 'Inter-UI';
  src: url("../fonts/Inter-UI/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/Inter-UI/Inter-UI-Regular.woff") format("woff"), url("../fonts/Inter-UI/Inter-UI-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url("../fonts/Inter-UI/Inter-UI-Medium.woff2") format("woff2"), url("../fonts/Inter-UI/Inter-UI-Medium.woff") format("woff"), url("../fonts/Inter-UI/Inter-UI-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url("../fonts/Inter-UI/Inter-UI-Bold.woff2") format("woff2"), url("../fonts/Inter-UI/Inter-UI-Bold.woff") format("woff"), url("../fonts/Inter-UI/Inter-UI-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/**
 * =======================================================
 *
 * Typography - Default
 *
 * =======================================================
 */
/**
 * Standard typography, mobile first but currently these
 * sizes are appropriate accross all devices.
 */
.s-typography-heading-1 {
  font-size: 37px;
  font-weight: 700;
  line-height: 42px;
  margin: 80px 0 40px;
}

.s-typography-heading-2 {
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  margin: 40px 0;
}

.s-typography-heading-3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  margin: 20px 0;
}

.s-typography-heading-4 {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0;
}

.s-typography-heading-5 {
  font-weight: 700;
  margin: 20px 0;
}

/**
 * =======================================================
 *
 * Typography - Variant 1 - Variables
 *
 * =======================================================
 */
/**
 * =======================================================
 *
 * Typography - Variant 1 - Fonts
 *
 * =======================================================
 */
@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT-Sans/PT-Sans-Regular.woff2") format("woff2"), url("../fonts/PT-Sans/PT-Sans-Regular.woff") format("woff"), url("../fonts/PT-Sans/PT-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT-Sans/PT-Sans-Italic.woff2") format("woff2"), url("../fonts/PT-Sans/PT-Sans-Italic.woff") format("woff"), url("../fonts/PT-Sans/PT-Sans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT-Sans/PT-Sans-Bold.woff2") format("woff2"), url("../fonts/PT-Sans/PT-Sans-Bold.woff") format("woff"), url("../fonts/PT-Sans/PT-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT-Sans/PT-Sans-BoldItalic.woff2") format("woff2"), url("../fonts/PT-Sans/PT-Sans-BoldItalic.woff") format("woff"), url("../fonts/PT-Sans/PT-Sans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/**
 * =======================================================
 *
 * Typography - Variant 1
 *
 * =======================================================
 */
/**
 * Standard typography, mobile first but currently these
 * sizes are appropriate accross all devices.
 */
.s-typography-variant-1-heading-1 {
  color: #FFF;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 74px;
  font-weight: 700;
  line-height: 79px;
  margin: 40px 0;
}

.s-typography-variant-1-heading-2 {
  color: #409297;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  margin: 40px 0;
}

.s-typography-variant-1-heading-3 {
  color: #409297;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 42px;
  margin: 20px 0;
}

.s-typography-variant-1-body {
  color: #757575;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
}

.s-typography-variant-1-body a {
  color: #EE7768;
  text-decoration: none;
}

.s-typography-variant-1-body a:hover {
  text-decoration: underline;
}

.s-typography-variant-1-body-small {
  color: #816867;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.s-quote-variant {
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.s-quote-variant p {
  color: #409297;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.s-quote-variant p:before {
  content: "“";
}

.s-quote-variant p:after {
  content: "”";
}

.s-quote-variant cite {
  font-style: normal;
}

.s-quote-variant cite:before {
  content: '- ';
}

/**
 * =======================================================
 *
 * Buttons - Variables
 *
 * =======================================================
 */
/*
 * =======================================================
 *
 * Buttons
 *
 * =======================================================
 */
/**
  * This overrides the Vue Material core CSS button 
  * properties that are not configurable.
  * 
  * 1. Remove the box shadow even for md-raised styles.
  * 2. The fixed height hides wrapped text (can happen but not 
  *    idea). Setting auto prevents that edge case.
  * 2. Spacing above and below fits with the site spacing.
  * 3. The default transition speed is perceptibly slow
  *    so set a faster duration.
  * 4. Add a more visible disabled style.
  */
.md-button {
  border-radius: 4px;
  box-shadow: none;
  /* 1 */
  font-family: inherit;
  font-weight: 700;
  height: auto;
  /* 2 */
  margin-bottom: 5px;
  /* 2 */
  margin-top: 5px;
  /* 2 */
  text-transform: none;
  /* 4 */
}

.md-button:before {
  transition-duration: 0.2s;
  /* 3 */
}

.md-button:not([disabled]).md-focused:before, .md-button:not([disabled]):active:before, .md-button:not([disabled]):hover:before {
  opacity: .2;
}

.md-button[disabled] {
  color: #C2C2C2;
}

.md-button[disabled]:before {
  background-color: #C2C2C2;
  opacity: .4;
}

.md-button-content {
  padding: 16px 0;
}

.md-button .md-ripple {
  padding: 0 20px;
}

/**
  * Custom Settled buttons. MD provides a limited set
  * and this can be expanded as required with a 
  * consistent  
  */
.s-button--primary {
  background-color: #EE7768;
  color: #FFF;
}

.s-button--on-primary {
  background-color: #FFF;
  color: #EE7768;
}

/**
 * =======================================================
 *
 * Footer
 *
 * =======================================================
 */
.site-footer {
  color: #816867;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 16px 10px;
  text-align: center;
}

.site-footer__item {
  margin: 0 0 20px;
}

.site-footer__heading {
  font-size: 19px;
  font-weight: 600;
  margin: 0 0 10px;
}

.footer-resources {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colophon {
  margin: 0;
  text-align: center;
  width: 100%;
}

@media (min-width: 635px) {
  .site-footer {
    flex-direction: row;
    padding-top: 80px;
    text-align: left;
  }
  .site-footer__item {
    width: 33.33333%;
  }
  .colophon {
    padding: 30px 0 0;
  }
}

@media (min-width: 1400px) {
  .site-footer {
    padding-top: 100px;
  }
  .site-footer__item {
    width: 20%;
  }
}

/*# sourceMappingURL=maps/settled.css.map */
