/**
 * =======================================================
 *
 * Masthead - Landing
 *
 * =======================================================
 */

.masthead--landing {
  background: $s-color-primary;
  color: $s-color-on-primary;
}