<section aria-label="" class="masthead">

  <div class="masthead__content">

    <h1 class="masthead__heading">Be certain. <br />Get Settled.</h1>

    <p class="masthead__strapline">Goodbye, stressful Hello, calm &amp; simple</p>

    <a href="" class="button button--on-primary">Sell my home for £499*</a>

  </div>

</section>